# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Build Output
/dist/
build/


# Logs
logs/
*.log
pids/
*.pid
*.seed

# Temporary Files
*.tmp
*.temp
*.bak
*.swp

# Uploads and Cache
/uploads/
temp/
cache/

# IDE and Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Test Coverage
coverage/
*.lcov

# OS Files
.DS_Store
Thumbs.db
Desktop.ini
